.centered{
	text-align: center
}

div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
}ackground-color: grey;
}
.caption {
    display: block;
}

.flashes{
	text-align: center;
}

.flash-error{
	background-color: red
}

.flash-message{
	background-color: rgb(100,255,100);
}

.ui-autocomplete { 
    overflow-y:scroll;
	margin-left:10px;
	display: block;
	list-style-position:inside;
	list-style: none;
	margin-top: 0;
}

.ui-autocomplete li{
	cursor:pointer; 
	border: 1px solid black;
	background-color: rgb(200,200,200);
	margin-top:0;
	margin-bottom: 0;
}

.ui-autocomplete li a{
	color:black;
}

#create-tardy-box{
	background-color: rgb(200,200,255);
	border: 2px solid blue;
}

.event-time-picker{
}

.event-teacher-picker{
	max-width:120px;
}

.event-comment-area{
	max-width: 120px;
}

.disabled-hand-container *{
	cursor:not-allowed !important;
}

.header-container{
	top:0px;
}

.header-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    overflow: hidden;
    background-color: #333;
}

.header-container li {
    float: left;
}

.header-container li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.header-container li a:hover {
    background-color: #111;
}

#header-link-logout{
	background-color: rgb(100,0,0);
}

#header-link-home{
	background-color: #FF8C00;
}