.centered{
	text-align: center
}

div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
}ackground-color: grey;
}
.caption {
    display: block;
}

.flashes{
	text-align: center;
}

.flash-error{
	background-color: red
}

.flash-message{
	background-color: rgb(100,255,100);
}