{# app/templates/create_student.html #}

<html>
    <head>
        <title>{{mode}} student</title>
    </head>
    <body>
        <h1>{{mode}} Student</h1>
        {% if error %}
            <font color="red"><b> ERROR: {{error}} </b></font>
        {% endif %}
        <form action="" method="post">
            MARSS ID: {{ form.marss_id }} <br/>
            First Name: {{ form.first_name }} <br/>
            Preffered First Name: {{ form.pref_first_name }} (Optional)<br/>
            Last Name: {{ form.last_name }} <br/>
            Grade: {{ form.grade }} <br/>
            Status: {{ form.status }} <br/>
            Phone Info: {{ form.phonedata }} <br/>
            Comment: {{ form.comment }} <br/>
            {{ form.csrf_token }}
            <input type="submit" value="Submit">
        </form>
    </body>
</html>