{# app/templates/student_list.html #}

<html>
    <head>
        <title>Student List</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script type="text/javascript">
        $(function() {
            $('.confirm').click(function() {
                return window.confirm("Are you sure?");
            });
        });
        </script>
    </head>
    <body>
        <h1>Student List</h1>
        <table border=1>
            <tr>
                <b>
                    <td>Internal ID</td>
                    <td>MARSS ID</td>
                    <td>First Name</td>
                    <td>(Pref)</td>
                    <td>Last Name</td>
                    <td>Grade</td>
                    <td>Status</td>
                    <td>Events</td>
                    <td>UID Name</td>
                    <td>Tools</td>
                </b>
            </tr>
            {% for student in students %}
            <tr>
                <td>{{student.id}}</td>
                <td>{{student.marss_id}}</td>
                <td>{{student.first_name}}</td>
                <td>{{student.pref_first_name}}</td>
                <td>{{student.last_name}}</td>
                <td>{{student.grade}}</td>
                <td>{{student.status}}</td>
                <td>{{student.attendance_events.__len__()}}</td>
                <td>{{student.uid_name}}</td>
                <td><a href="{{url_for('d_edit_student', sid=student.id)}}">[edit]</a> <a class="confirm" href="{{url_for('d_delete_student', sid=student.id)}}">[delete]</a></td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>