{# app/templates/add_event.html #}

<html>
    <head>
        <title>Add Event</title>
        <link rel="stylesheet" type="text/css" href="/static/jquery.datetimepicker.css"/ >
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
        <script type="text/javascript" src="/static/jquery.datetimepicker.full.min.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.js"></script>
        <script type="text/javascript">
        $(document).ready(function() {
          $('#student_uid_name').autocomplete({
            autoFocus:true,
            source:"/autocomplete_student"
          });
          $('#time').datetimepicker();
        });
        </script>
    </head>
    <body>
        <h1>Add Event</h1>
        <form action="" method="post">
            Student: {{form.student_uid_name}} <br/>
            Time: {{form.time}} <br/>
            Comment: {{form.comment}} <br/>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>