<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" type="text/css" href="/static/normalize.css">
    <link rel="stylesheet" type="text/css" href="/static/skeleton.css">
    <link rel="stylesheet" type="text/css" href="/static/custom.css">
    <link rel="stylesheet" type="text/css" href="/static/jquery.datetimepicker.css">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="/static/jquery.datetimepicker.full.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.js"></script>
    <meta http-equiv="Cache-control" content="public">
    <title>{% block title %}{% endblock %} - MPS Punctuality</title>
    {% endblock %}
    {% block head_extend %}
    {% endblock %}
  </head>
  <body onload="{% block onload %}{% endblock %}">
    {% if current_user.is_authenticated %}
      <div class="row" id="header-bar-container">
        <div class="header-container twelve columns">
          <ul>
            <li class="header-link" id="header-link-home">
              <a href="{{url_for('home')}}">South Punctuality Tracker</a>
            </li>
            {% if current_user.role=="admin" %}
              <li class="header-link" id="header-link-admin">
                <a href="/admin/">Admin Tools</a>
              </li>
            {% endif %}
            <li class="header-link" id="header-link-unresolved">
              <a href="/overview?meta_unresolved=yes">Unresolved Tardies</a>
            </li>
            <li class="header-link" id="header-link-logout">
              <a href="{{url_for('logout_user_page')}}">LOG OUT</a>
            </li>
          </ul>
        </div>
      </div>
    {% endif %}
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="row">
          <div class="twelve columns">
            <ul class="flashes">
            {% for category, message in messages %}
              <li class="flash-{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
          </div>
        </div>
      {% endif %}
    {% endwith %}
    <div id="content" class="container">{% block content %}{% endblock %}</div>
  </body>
</html>