{# app/templates/logged_in_landing.html #}

{% extends "layout.html" %}

{% block title %}Find a Student{% endblock %}

{% block head_extend %}
<script type="text/javascript">
$(document).ready(function() {
  $('#simple_search').autocomplete({
    autoFocus:true,
    source:"{{url_for('autocomplete_student')}}",
    appendTo: "#autocomplete-container",
    select:function(event, ui){
        window.location.href="{{url_for('student_view_wrapper')}}?student_uid_name="+escape(ui.item.value);
    }
  });
});
</script>
{% endblock %}

{% block content %}
<div style="text-align:center;margin-top:5%"><h1>MPS Punctuality Tracker</h1></div>
<div class="row">
    <div class="twelve columns">
        <h3>Find an Individual</h3>
        <div class="row">
            <div class="twelve columns">
                <input type="text" placeholder="Start Typing and Click on the Students name" id="simple_search" name="student_uid_name" style="height:100%" class="u-full-width">
                <div id="autocomplete-container"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="twelve columns">
        <hr/><h3>Find a Group</h3>
        <form action="{{url_for('overview')}}"
            <br/>
            <div class="row">
                <div class="four columns">
                    <input type="text" placeholder="First Name" name="first_name" class="u-full-width">
                </div>
                <div class="four columns">
                    <input type="text" placeholder="Preffered First Name" name="pref_first_name" class="u-full-width">
                </div>
                <div class="four columns">
                    <input type="text" placeholder="Last Name" name="last_name" class="u-full-width">
                </div>
            </div>
            <div class="row">
                <div class="four columns">
                    <input type="text" placeholder="Student ID" name="marss_id" class="u-full-width">
                </div>
                <div class="four columns">
                    <input type="text" placeholder="More than # tardies" name="meta_tardies_more" class="u-full-width">
                </div>
                <div class="four columns">
                    <input type="text" placeholder="Less than # tardies" name="meta_tardies_less" class="u-full-width">
                </div>
            </div>
            <div class="row">
                <div class="four columns">
                    <select name="grade" class="u-full-width">
                        <option value="9">Freshman</option>
                        <option value="10">Sophmore</option>
                        <option value="11">Junior</option>
                        <option value="12">Senior</option>
                        <option value="" selected>Do not search based on grade</option>
                    </select>
                </div>
                <div class="four columns">
                    <select name="status" class="u-full-width">
                        <option value="active">Active</option>
                        <option value="inactive">Inactive</option>
                        <option value="" selected>Do not search based on status</option>
                    </select>
                </div>
                <div class="four columns">
                    <select name="meta_unresolved" class="u-full-width">
                        <option value="yes">Incomplete Consequences</option>
                        <option value="no">Complete Consequences</option>
                        <option value="" selected>Do not search based on completed consequences</option>
                    </select>
                </div>
            </div>
            <input type="submit" class="button-primary u-full-width" value="Search">
        </form>
    </div>
</div>
{% endblock %}