{# app/templates/logged_in_landing.html #}

{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block head_extend %}
<script type="text/javascript">
$(document).ready(function() {
  $('#simple_search').autocomplete({
    autoFocus:true,
    source:"{{url_for('autocomplete_student')}}",
    appendTo: "#autocomplete-container"
  });
});
</script>
{% endblock %}

{% block content %}
<div style="text-align:center;margin-top:5%"><h1>MPS Punctuality Tracker</h1></div>
<div class="row">
    <div class="twelve columns" style="margin-top: 5%">
        {% if user.role=="admin" %}<a href="/admin/student">Admin Tools</a> | {% endif %}
        <a href="/logout">Log Out</a>
    </div>
</div>
<hr/>
<div class="row">
    <div class="twelve columns">
        <form action="{{url_for('student_view_wrapper')}}" method="post">
            Type in name, Select from list, hit Enter:
            <div class="row">
                <div class="twelve columns">
                    <input type="text" placeholder="Start Typing..." id="simple_search" name="student_uid_name" style="height:100%" class="u-full-width">
                    <div id="autocomplete-container"></div>
                </div>
            </div>
        </form>
    </div>
</div>
<hr/>
<div class="row">
    <div class="twelve columns">
        Advanced Search (CONTAINS search for all terms)<br/>
        <form action="{{url_for('overview')}}"
            <br/>
            <div class="row">
                <div class="four columns">
                    <input type="text" placeholder="First Name" name="first_name" class="u-full-width">
                </div>
                <div class="four columns">
                    <input type="text" placeholder="Preffered First Name" name="pref_first_name" class="u-full-width">
                </div>
                <div class="four columns">
                    <input type="text" placeholder="Last Name" name="last_name" class="u-full-width">
                </div>
            </div>
            <div class="row">
                <div class="four columns">
                    <input type="text" placeholder="MARSS ID" name="marss_id" class="u-full-width">
                </div>
                <div class="four columns">
                    <input type="text" placeholder="More than # tardies" name="meta_tardies_more" class="u-full-width">
                </div>
                <div class="four columns">
                    <input type="text" placeholder="Less than # tardies" name="meta_tardies_less" class="u-full-width">
                </div>
            </div>
            <div class="row">
                <div class="four columns">
                    <select name="grade" class="u-full-width">
                        <option value="9">Freshman</option>
                        <option value="10">Sophmore</option>
                        <option value="11">Junior</option>
                        <option value="12">Senior</option>
                        <option value="" selected>Do not search based on grade</option>
                    </select>
                </div>
                <div class="four columns">
                    <select name="status" class="u-full-width">
                        <option value="active">Active</option>
                        <option value="inactive">Inactive</option>
                        <option value="" selected>Do not search based on status</option>
                    </select>
                </div>
                <div class="four columns">
                    <select name="meta_unresolved" class="u-full-width">
                        <option value="yes">Incomplete Consequences</option>
                        <option value="no">Complete Consequences</option>
                        <option value="" selected>Do not search based on completed consequences</option>
                    </select>
                </div>
            </div>
            <input type="submit" class="button-primary" value="Search">
        </form>
    </div>
</div>
{% endblock %}