{# app/templates/student_view.html #}

{% extends "layout.html" %}

{% block title %}{{student.full_name}}{% endblock %}

{% block head_extend %}
<script type="text/javascript">
var row_count={{sorted_events.__len__()}};
var monthNames = ["January", "February", "March", "April", "May", "June",
  "July", "August", "September", "October", "November", "December"
];
var enabled = {% if current_user.role=='view' %}false{% else %}true{% endif %};
function update_date(){
    var d = new Date();
    var s = 
        monthNames[d.getMonth()].substring(0,3)+
        " "+
        d.getDate()+
        " "+
        d.getFullYear()+
        "      ";
    if (d.getHours()>12){
        s = s +(d.getHours()-12)+":"+d.getMinutes()+" PM";
    }else{
        s = s +(d.getHours())+":"+d.getMinutes()+" AM";
    }
    $("#time").val(s);
}
$(document).ready(function() {
  if (!enabled){
    $("#create-tardy-box").find('*').prop("disabled", true);
  }
  $('#time').datetimepicker({
    format:'M d Y      g:i A',
    timepicker:false,
    hours12:true,
    validateOnBlur:false
  });
  $('.event-time-picker').datetimepicker({
    format:'M d Y      g:i A',
    timepicker:false,
    hours12:true,
    validateOnBlur:false
  });
  $('#now-btn').click(update_date);
  update_date();
  $('#teacher-autofill').autocomplete({
    autoFocus:true,
    source:"{{url_for('autocomplete_teacher')}}",
    appendTo: "#autocomplete-teacher-container"
  });
  for (i = 1; i < row_count+1; i++) { 
    $('#event-teacher-picker-'+i).autocomplete({
        autoFocus:true,
        source:"{{url_for('autocomplete_teacher')}}",
        appendTo: "#autocomplete-entries-"+i
      });
    }
});

function show_edit_row(id){
    if (enabled){
        for (i = 1; i < row_count+1; i++) { 
            $('#main-row-'+i).css('display', 'table-row');
            $('#hidden-row-'+i).css('display', 'none');
        }
        $('#main-row-'+id).css('display', 'none');
        $('#hidden-row-'+id).css('display', 'table-row');
    }
}
</script>
{% endblock %}

{% block content %}
<div style="text-align:center;margin-top:5%;"><h3 style="display:inline-block"><a href="/">&lt;&lt;</a><h1 style="display:inline-block">{{student.full_name}}</h1></div>
<div class="row" style="margin-top:5%">
    <div class="six columns">
        <div class="row">
            <div class="six columns">
                <div class="item">
                    <img src="/static/noimage.png"><br/>
                    <span class="caption"><b>{{student.first_name}}&nbsp;{{student.last_name}}</b><br/>{{student.marss_id}}</span>
                </div>
            </div>
            <div class="six columns">
                <div class="centered">
                    Number of Tardies:<br/>
                    <h3><b style="color:{{('red' if assc_events>1 else 'orange') if assc_events else 'green'}}">{{assc_events}}</b></h3> <br/>
                    Consequences Completed:<br/>
                    <h3><b style="color:{{'green' if consequences_completed else 'red'}}">{{'YES' if consequences_completed else 'NO'}}</b></h3>
                </div>
            </div>
        </div>
    </div>
    <div class="six columns {% if current_user.role=='view' %}disabled-hand-container{% endif %}" id="create-tardy-box">
        <div class="row">
            <div class="twelve columns">
                <h5 class="centered">Add a Tardy Event?</h5>
            </div>
        </div>
        <form action="{{url_for('add_event', sid=student.id)}}" method='post'>
            Time: 
            <div class="row">
                <div class="ten columns">
                    <input class="u-full-width" type="text" id="time"  name="time" placeholder="YYYY/MM/DD HH:MM">
                </div>
                <div class="two columns">
                    <a id="now-btn" class="u-full-width button" style="padding:0 0;">Now</a><br/>
                </div>
            </div>
            <div class="row">
                <div class="six columns">
                    Reason:
                    <select id="reason" name="reason" class="u-full-width">
                        {% for reason in reasons %}
                        <option value="{{reason.id}}">{{reason.text}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="six columns">
                    Teacher:
                    <input type="text" id="teacher-autofill" name="teacher" placeholder="Start Typing..." class="u-full-width">
                </div>
            </div>
            <div id="autocomplete-teacher-container"></div>
            <textarea class="u-full-width" name="comment" placeholder="Comment" id="comment"></textarea>
            <input type="submit" class="button-primary" value="Submit"> {% if current_user.role=='view' %} You do not have permission to edit{% endif %}
        </form>
    </div>
</div>
<hr/>
<div class="row">
    <div class="twelve columns">
        <div class="centered"><h6><a name="tardies" style="color:black">Log of Tardies: (Click row to Edit)</a></h6></div><br/>
        <table class="u-max-full-width" width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr style="font-weight:bold">
                <td>#</td>
                <td>Date</td>
                <td>Time</td>
                <td>Period</td>
                <td>Teacher</td>
                <td>Entered By</td>
                <td>Reason</td>
                <td>Consequence</td>
                <td>Status</td>
                <td>Action</td>
            </tr>
            {% for event in sorted_events %}
            <tr id="main-row-{{sorted_events.index(event)+1}}" onclick="show_edit_row({{sorted_events.index(event)+1}});" {% if current_user.role=='view' %} style="cursor:not-allowed" {% else %} style="cursor:pointer"{% endif %}>
                <td>{{sorted_events.index(event)+1}}</td>
                <td>{{event.time.strftime("%b %d %Y")}}</td>
                <td>{{event.time.strftime("%I:%M")[1 if event.time.strftime("%I")[0]=="0" else 0:]}}</td>
                <td>{{event.period}}</td>
                <td>{{event.teacher.name}}</td>
                <td>{{event.author.name}}</td>
                <td>{{event.comment}}</td>
                <td colspan="2">
                    <b>{{event.consequence.name}}</b><br/>
                    <table class="u-full-width">
                    {% for line in event.consequence.description_lines %}
                    {% with lineid = event.consequence.description_lines.index(line) %}
                        <tr>
                            <td>
                                <div style="color:{{'green' if event.consequence_statuses[lineid] else 'red'}};font-weight:{{'' if event.consequence_statuses[lineid] else 'bold'}}">
                                    {{line}}
                                </div>
                            </td>
                            <td>
                                {% if event.consequence_statuses[lineid] %}
                                <img src="/static/dwcheckyes.svg" height="24" width="24"><br/>
                                {% else %}
                                <img src="/static/dwcheckno.svg" height="24" width="24"><br/>
                                {% endif %}
                            </td>
                        </tr>
                    {% endwith %}
                    {% endfor %}
                    </table>
                </td>
                <td>{% if current_user.role=='view' %}(You do not have edit permissions){% else %}<a style="color:red" href="{{url_for('delete_event', sid=student.id, eid=event.id)}}">[DELETE]<a>{% endif %}</td>
            </tr>
            {% with form = event_forms[sorted_events.index(event)] %}
            <form action="{{url_for('edit_event_inline_apply', sid=student.id, eid=event.id)}}" method="post">
            <tr style="display:none" id="hidden-row-{{sorted_events.index(event)+1}}">
                <td>{{sorted_events.index(event)+1}}<div style="display:none">{{form.id}}{{form.csrf_token}}</div></td>
                <td colspan="2">{{form.time(class_="event-time-picker")}}</td>
                <td>{{event.period}}</td>
                <td>{{form.teacher(class_="event-teacher-picker", id="event-teacher-picker-%d"%(sorted_events.index(event)+1))}}<br/>
                <div id="autocomplete-entries-{{sorted_events.index(event)+1}}"></div></td>
                <td>{{current_user.name}}</td>
                <td>{{form.comment(class_="event-comment-area")}}</td>
                <td colspan="2">
                    <b>{{event.consequence.name}}</b><br/>
                    
                    {% if event.consequence.has_consequence %}
                    <table class="u-full-width">
                        {% for line in event.consequence.description_lines %}
                        <tr>
                        {% with lineid = event.consequence.description_lines.index(line) %}
                            <td>
                                {{line}}
                            </td>
                            <td>
                                <input type="checkbox" name="line_{{lineid}}" {% if event.consequence_statuses[lineid] %}checked{% endif %}>
                            </td>
                        </tr>
                        {% endwith %}
                        {% endfor %}
                    </table>
                    {% else %}
                    No consequence.
                    {% endif %}
                </td>
                <td><input type="submit" class="button-primary" value="Save"></td>
            </tr>
            </form>
            {% endwith %}
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}